<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="index.css">
</head>
<header>
  {{> header }}
</header>
<body>
  <div
  class="main-content">
    <h1>{{error}}</h1>
  </div>
</body>
<footer class="footer">
  {{> footer}}
</footer>

</html>