<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="index.css">
</head>
<header>
  {{> header }}
</header>
<body>
  <div
    class="main-content">
    <p>This app was created by Jason Hoffman. It uses data from mapbox.com and darksky.net.</p>
    <p>This app was his first use of handlebars' views, partials, and templates.</p>
    <img class="portrait" src="/images/publikwerker16r.jpg" alt="beautiful face">
  </div>
</body>
<footer class="footer">{{> footer}}</footer>

</html>