<!DOCTYPE html>
<html>
<head>
  <title>Help</title>
  <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="index.css">
</head>
<header>
  {{> header}}
</header>
<body>
  <div
    class="main-content">
    <h2>
      {{message}}
    </h2>
    <p>Send help requests to <a href="mailto:hello@publikwerker.com?Subject=Help%20with%20Publik%20Weather%20App"
    target="_blank">hello [at] publikwerks [dot] com</a></p>
  </div>
</body>
<footer class="footer">
  {{> footer }}
</footer>
</html>