<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="index.css">
</head>
<header>
  {{> header }}
</header>
<body>
  <img src="/images/IMG_5256.JPG" alt="beautiful face">
</body>
<footer>{{> footer}}</footer>

</html>