<!DOCTYPE html>
<html>
<head>
  <title>About</title>
    <link rel="stylesheet" href="index.css">
</head>
<header>
  {{> header }}
</header>
<body>
  <div
    class="main-content">
    <img class="portrait" src="/images/IMG_5256.JPG" alt="beautiful face">
  </div>
</body>
<footer>{{> footer}}</footer>

</html>