<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
    <link rel="stylesheet" href="index.css">
</head>
<header>
  {{> header }}
</header>
<body >
  <div
  class="main-content">
    <p>Use this site to get your weather</p>
  </div>
</body>
<footer> 
  {{> footer}}
</footer>
</html>