* {
  box-sizing: border-box;
}

body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  color: #888888;border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
  
}

header {
  margin: 16px auto 47px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

.main-content {
  flex-grow: 1;
  justify-items: center;
}

.portrait {
  width: 250px;
  margin: 0 auto;
}